<!DOCTYPE html>

<html>
    <head>
        
    </head>
    <body>
      <h1>Welcome To Django</h1>
      <h4><a href="{% url 'all-student' %}">Click Here For All Student</a></h4>
      <form action="{% url 'add-student' %}" method="POST" >
            {% csrf_token %}
            <input type="text" name="name" placeholder="Enter the name"/><br><br>
            <input type="text" name="city" placeholder="Enter the city"/><br><br>
            <input type="submit" name="submit" value="submit"/>
            
      </form>
    
    </body>
</html>