<!DOCTYPE html>

<html>
    <head>
        
    </head>
    <body>
      <h1>Welcome To Api</h1>

      <form action="{% url 'add-book' %}" method="POST" >
            {% csrf_token %}
            <input type="text" name="title" placeholder="Enter the title"/><br><br>
            <input type="text" name="author" placeholder="Enter the author"/><br><br>
            <input type="text" name="isbn" placeholder="Enter the isbn"/><br><br>
            <input type="text" name="publisher" placeholder="Enter the publisher"/><br><br>
            <input type="submit" name="submit" value="submit"/>
            
      </form>
    
    </body>
</html>