<!DOCTYPE html>

<html>
    <head>
       
    </head>
    <body>
        <h1>Update Details</h1>
        <h4><a href="{% url 'all-student' %}">Click Here</a> For All Students</h4>
            <form action="{% url 'change-student' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{sid.id}}"/>
                <input type="text" name="name" value="{{sid.name}}"/><br><br>
                <input type="text" name="city" value="{{sid.city}}"/><br><br>
                <input type="submit" name="submit" value="submit"/>
            </form>
    </body>
</html>